body {
    font-family: "Nunito", sans-serif;
    background-color: #ffe2bd21;
}

.navbar-brand {
    font-size: 2rem;
}

#mainNavbar {
    background-color: #0c152973;
}

#mainNavbar .nav-link {
    color: rgba(255, 255, 255, 0.801);
    font-size: large;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#mainNavbar #navLinks {
    text-align: center;
}

#mainNavbar .nav-link:hover {
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #24ccf7;
    transform: translateY(-0.3rem);
    cursor: pointer;
}

.home-container {
    height: 800px;
    background-color: #0f1b35;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container p {
    color: rgb(224, 98, 98);
    font-size: 3.5rem;
    font-weight: bold;
}

.section-content h1 {
    color: rgb(224, 98, 98);
    margin: 20px;
    text-align: center;
    font-weight: 900;
}

.about-content-left {
    text-align: start;
    font-size: 1.5rem;
    padding: 30px 50px;
    line-height: 2.5rem;
}

.about-content-right {
    text-align: center;
    padding: 2rem;
    line-height: 2.5rem;
}

.about-content-right p {
    text-align: center;
    margin-top: 2rem;
    background-color: #3463460e;
    margin: 3rem 5rem 0 5rem;
    padding: 0 2rem;
    font-weight: 800;
    border-radius: 10px;
    min-width: 150px;
    font-size: 1.1rem;
}

.about-picture {
    max-width: 350px;
    min-width: 50%;
    border-radius: 50%;
    box-shadow: #346346b4 0px 3px 10px 3px;
}

.pm25-picture, .bot-picture {
    max-width: 100%;
}

#contact {
    text-align: center;
}

.footer-link {
    font-size: 2rem;
    color: #0f1b35;
}