body {
    background: #b6dde7ad;
    font-family: "Nunito", sans-serif;
}

.navbar-brand {
    font-size: 2rem;
}
#mainNavbar{
    background-color: #0c1529;
}

#mainNavbar .nav-link {
    color: rgba(255, 255, 255, 0.801);
    font-size: large;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#mainNavbar #navLinks {
    text-align: center;
}

#mainNavbar .nav-link:hover {
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #24ccf7;
    transform: translateY(-0.3rem);
    cursor: pointer;
}

.home-container {
    height: 700px;
    background-color: #0f1b35;;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container p {
    color: rgb(224, 98, 98);
    font-size: 3.5rem;
    font-weight: bold;
}

.about-container {
    height: 700px;
}

.about-container h1 {
    color: rgb(224, 98, 98);
    margin: 20px;
    text-align: center;
    font-weight: 900;
}

.about-container div {
    text-align: start;
    font-size: 1.5rem;
    padding: 10px;
}