html {
    /* safari unsupported */
    scroll-behavior: smooth 
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #ffe2bd21;
}

a {
    color: rgb(12, 92, 197)
}

a:hover {
    color: gold;
    cursor: pointer;
}

.navbar-brand {
    font-size: 2rem;
}

#mainNavbar {
    background-color: #0c152973;
}

#mainNavbar .nav-link {
    color: rgba(255, 255, 255, 0.801);
    font-size: large;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#mainNavbar #navLinks {
    text-align: center;
}

#mainNavbar .nav-link:hover {
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #24ccf7;
    transform: translateY(-0.3rem);
    cursor: pointer;
}

.home-container {
    height: 800px;
    background-color: #0f1b35;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container p {
    color: rgb(224, 98, 98);
    font-size: 4rem;
    font-weight: bold;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.section-content h1 {
    color: rgb(224, 98, 98);
    margin: 20px;
    text-align: center;
    font-weight: 900;
}

.about-content {
    margin: 4% 10% 4% 10%;
}

.about-content-left {
    text-align: start;
    font-size: 1.2rem;
    padding: 30px 50px;
    line-height: 2.5rem;
}

#intro-btn {
    background-color: #10244e;
    border: 0px;
    color: white;
    margin: 1rem 0px;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
}

#intro-btn:hover {
    color: gold;
    box-shadow: 0 0.5em 0.5em -0.4em #929292;
    transform: translateY(-0.3rem);
    cursor: pointer;
}

.card-body {
    background-color: #f5ebdf83;
    padding: 20px;
}

.about-content-right {
    text-align: center;
    padding: 2rem;
    line-height: 2.5rem;
}

.projects-content {
    margin: 8% 10% 0 10%;
}

.projects-content h2 {
    font-weight: 900;
}

#skillset span {
    color: rgb(224, 98, 98);
    margin: 0.5rem;
}

.projects-content p {
    font-size: 1.2rem;
}

.project-link-group {
    margin: 10px 0;
    font-size: 1.5rem;
}

.github-project-link, .external-project-link, .footer-link {
    color: rgba(50, 50, 119, 0.521);
}

.project-link-group .external-project-link {
    margin-left: 1rem;
    font-size: 1.3rem;
}

.about-picture {
    max-width: 350px;
    min-width: 50%;
    border-radius: 50%;
    box-shadow: #346346b4 0px 3px 10px 3px;
}

.pm25-picture, .bot-picture {
    max-width: 100%;
}

#contact {
    text-align: center;
}

.footer-link {
    font-size: 2rem;
    color: #0f1b35;
    ;
}